<div class="body">
	<div class="container">
		<h1>Welcome to <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>!</h1>
		<ul class="slider">
			<li><%= image_tag 'wc-logo.png', size: '800x300' %></li>
			<li><%= image_tag 'wcc-logo.png', size: '800x30' %></li>
			<li><%= image_tag 'wcp-logo.png', size: '800x300' %></li>
			<li><%= image_tag 'wcw-logo.png', size: '800x300' %></li>
		</ul>
	</div>
</div>